<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Städte</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a routerLink="add" class="nav-link">Hinzufügen</a>
      </li>
    </div>
    <div class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a routerLink="login" class="nav-link">Anmelden</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a routerLink="register" class="nav-link">Registrieren</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <span class="navbar-text text-white me-3">Hallo, {{ username }}</span>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="logout()" routerLink="/">Abmelden</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
